@{
    ViewBag.Title = "Home";
}


<section class="pageheader-default" style="background:url(/Content/Images/studio.jpg);">
    <div class="bgarea-semitransparent">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="landingpage animated fadeInLeftBig notransition">DANCE DISCOVERY DC</h2>
                    <h3 class="landingpage animated fadeInDownBig notransition">JETZT IN BONN!</h3>
                    <div class="btn-wrap animated fadeInUpBig notransition" style="padding-bottom: 40px">
                        <a class="btn btn-minimal" href="@Url.Action("Index", "Klassen")">Hier erfahren Sie mehr</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/Content/Images/dd_bkgrnd9.gif" class="img-responsive animated fadeInRightBig notransition" alt="Kids Learning! Happy Feet!">
                </div>
                <div class=" panel panel-default col-md-4 pull-right" style="border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;" >
                    
                        <!--Begin Tabs 2-->
                    <div id="verticalTab">
                        <ul class="resp-tabs-list">
                            <li><strong>News</strong></li>
                            <li><strong>Events</strong></li>
                        </ul>
                        <div class="resp-tabs-container" style="height:200px; overflow-y:scroll;">
                            <div>
                                <ul>
                                    <li style="color: black">
                                        The studio is available for rent. Contact us to find out more.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li style="color: black">
                                        No events at this time.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!--End Tabs 2-->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="~/Content/Template/img/shp.png" class="img-responsive" alt="">
    </div>
    <!-- INTRO NOTE
    ================================================== -->
    <section class="intro-note topspace10">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Wo Sie die <span class="colortext">Welt</span> des <span class="colortext">Tanzes</span> entdecken</h2>
                    <h3 lang="de">
                        Ballett und Modern Dance für Erwachsene. Kinder/Elternklassen, Kreativer Tanz und Ballett, für Kinder aller Alterstufen.
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <!-- /.intro-note end-->
    <!-- SERVICE BOXES
    ================================================== -->
    <!-- /.service-box end-->
    <!-- TESTIMONIALS
    ================================================== -->
    <!-- /testimonials end-->
    <!-- SOME FEATURES
    ================================================== -->
    <!-- /.home-features end-->
    <!-- RECENT PROJECTS
    ================================================== -->
    <!-- /.recent-projects-home end-->
    <!-- BEGIN CALL TO ACTION PANEL
    ================================================== -->
    <!-- /. end call to action-->
</div>
<!-- /.wrapsemibox end-->
